/****** theme color variations ******/
$primary-color: #333;
$secondary-color: #840D00;
$white-color: #FFF;
$black-color: #000;
$grey-color: #808080;
$light-grey:#c0c0c0;
$red-color: #fd4e4e;
$green-color: #05c144;
$orange-color: #e1880a;
$facebook-color: #3b5998;
$google-color: #d34836;
$twitter-color: #1B95E0;

$primary-font-family: 'Helvetica';
// $menu-font-family: 'Block Berthold';
$base-font-size: 14px;
