h1 { font-size: 30px; }
h2 { font-size: 26px; }
h3 { font-size: 24px; }
h4 { font-size: 20px; }
h5 { font-size: 18px; }
h6 { font-size: 14px; }
h1, h2, h3, h4, h5, h6 { 
    font-weight: 700;
    margin: 0 0 15px;
}
.font-20 { font-size: 20px; }
.font-18 { font-size: 18px; }
.font-16 { font-size: 16px; }
.font-14 { font-size: 14px; }
.font-13 { font-size: 13px; }
.font-12 { font-size: 12px; }
p { 
    margin-bottom: 15px;
}
@include breakpoint(small){ 
    h1 { font-size: 24px; }
    h2 { font-size: 20px; }
    h3 { font-size: 18px; }
    h4 { font-size: 16px; }
    h5 { font-size: 14px; }
    h6 { font-size: 13px; }
    h1, h2, h3, h4, h5, h6 { 
        font-weight: 600;
    }
}
.section-title { 
    margin-bottom: 15px;
    text-align: center;
}
.page-title { 
    margin-bottom: 20px;
}