
.form-section-wrapper{
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
  }
  
  .subsection{
    border-top: 2px solid #aaa;
    // padding-left: 20px;
    background-color: rgba(0,0,0,0.08);
  }